<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeronly.po.mapper.UserMapper">
    <resultMap id="resolveJobReport" type="com.zeronly.po.model.common.User">
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="authorities" column="authorities" />
        <result property="deptId" column="dept_id" />
        <result property="creator" column="creator" />
        <result property="creatTime" column="creat_time" />
        <result property="modifier" column="modifier" />
        <result property="modiStamp" column="modi_stamp" />
        <result property="isDeleted" column="is_deleted" />
        <result property="states" column="states" />
    </resultMap>
</mapper>
